.catalog {
  margin-top: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.catalog-pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.catalog-pagination ul.pagination {
  margin: 0;
}

.image-overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay > img {
  max-width: 80%;
  max-height: 80%;
}

.image-card-edit {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
}

.floating-button {
  position: fixed;
  border-radius: 100%;
  right: 2rem;
  bottom: 2rem;
}
